<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wad.wan.murahamatdistro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PromoActivity" />
        <activity android:name=".InputBarangActivity" />
        <activity android:name=".TestimonialActivity" />
        <activity android:name=".UserManagementActivity" />
        <activity android:name=".HistoryTransaksiActivity" />
        <activity android:name=".KategoriActivity" />
        <activity android:name=".DetailTestimonialActivity" />
        <activity android:name=".DetailBarangActivity" />
        <activity android:name=".DetailPromoActivity" />
        <activity android:name=".ImageSlide" />
        <activity android:name=".DetailTransaksiActivity" />
        <activity android:name=".Search"></activity>
    </application>

</manifest>